// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';

/* Styles limited to adnd sheets */
.adnd {
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/tabs';
  @import 'components/items';
}

input.small-text-input {
  width: 50px;
}

%simple-grid {
  display: grid;
  grid-template-columns: 200px 50px;
  justify-content: start;
  align-content: center;
  grid-gap: 5px;
}

.saving-throw-name{
  text-transform: none;
  color: blue;
  font-weight: bold;
  //width: 100px;
  word-wrap: break-word;
}

.armor-class-grid{
  @extend %simple-grid;
  grid-template-columns: 100px 50px;
}

.ability-grid {
  @extend %simple-grid;
  grid-template-columns: 75px 50px auto
}

.saving-throw-grid {
  @extend %simple-grid
}